<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>부분포함</h1>
	
<!-- 	div 안에 footer 태그를 insert 해줌 -->
	<h2>부분포함 insert</h2>
	<div th:insert="~{template/fragment/footer :: copy}"></div>
	
<!-- 	div 태그를 footer 태그로 replace해줌 -->
	<h2>부분포함 replace</h2>
	<div th:replace="~{template/fragment/footer :: copy}"></div>
	
<!-- 	~{} 없애도 됨 -->
	<h2>부분포함 replace</h2>
	<div th:replace="template/fragment/footer :: copy"></div>
	
	<h2>파라미터 사용</h2>
	<div th:replace="~{template/fragment/footer :: copyParam('데이터1', '데이터2')}"></div>
</body>
</html>